/* body {margin:0;} */

.navbar {
  position: absolute;
  width: 100%;
  height: 51px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
  display: grid;
  place-items: center;
}

.main {
  margin-top: 51px;
  padding: 10px;
}

.categoryContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
}
.activeBtn {
  background: #fbc91b;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  padding: 4px 12px;
  font-weight: bold;
  width: 61px;
  height: 24px;
}
.btn {
  background: #f2f2f2;
  border-radius: 12px;
  border: none;
  font-size: 16px;
  padding: 4px 12px;
  font-weight: bold;
  width: 61px;
  height: 24px;
}

.newsCard {
  /* width: 328px; */
  min-height: 123px;
  background: #ffffff;
  box-shadow: 0px 3px 28px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
}

.title span {
  color: #000;
  border-color: '#333333';
  font-size: 20px;
  gap: normal;
  line-height: 16px;
  font-weight: 800;
}
.title span:nth-child(2n + 1) {
  color: #fbc91b;
}
